<div class="jumbotron text-center">

<div ng-show="params"><p ng-repeat="x in parts">Additional Parameter {{x}} defiend</p></div>


 <div class="container">
 	<p>Search</p>
 	<input type="text" ng-model="search">
 	<div style="width:118px">
 	<p style="margin:0px">Filter</p>
 	<input type ="radio" id="name" name="radio" ng-value="name" ng-click="orderByField='name'">Name
 <input type ="radio" id="age" ng-value="age" name="radio" ng-click="orderByField='age'">age
 </div>
  <table class="table" style="height:auto;overflow:scroll;">
    <thead>
      <tr>
        <th>Name</th>
        <th>age</th>
        <th>country</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in persons| orderBy:orderByField|filter : search as filteredArray">
        <td>{{x.name}}</td>
        <td>{{x.age}}</td>
        <td>{{x.country}}</td>
      </tr>
      
    </tbody>
  </table>
  <div> <div ng-if="filteredArray.length ===0" class="noResult">No Result Found</div></div>
</div>
</div>